body {
    background-color: #ddd;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.code-container {
    background-color: white;
    border-radius: 10px;
    margin: auto;
    width: 50%;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 30%;
    left: 25%;
}

.code {
    padding: 5px;
}

p {
    text-align: center;
}

.head {
    font-size: 28px;
}

.hea {
    font-size: 18px;
}

.quiz-container {
    background-color: white;
    border-radius: 5px;
    margin: auto;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.quiz {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    text-align: left;
}

input {
    border: solid 1px #3A7AFE;
    border-radius: 5px;
    width: 60%;
    padding: 10px 10px;
}

button {
    background: linear-gradient(90deg, #7A5FFF, #3A7AFE);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 5px;
    width: 40%;
}

#span {
    margin-top: 5px;
    font-size: 15px;
}

input:focus-visible,
button:focus-visible {
    outline: solid 2px #3A7AFE;
    outline-offset: 2px;
}

button:hover {
     background: linear-gradient(90deg, #8A57FE, #7A7AEF);
}

button:active {
    transform: scale(0.9);
     background: linear-gradient(90deg, #1f125f, #3A7AFE);
}