* {
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ddd;
    padding: 10px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
    margin: auto;
    width: 50%;
}

.car {
    padding: 10px;
}

.span {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

#sco {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}

a {
    margin-left: 20px;
    text-decoration: none;
}

a:hover {
    color: blue;
}